/* בסיס */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* צבע רקע כהה */
    color: #e0e0e0; /* צבע טקסט בהיר */
}

/* מיכל */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.register-box {
    background-color: rgba(41, 40, 40, 0.8); /* צבע כהה עם שקיפות של 80% */
    padding: 40px;
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* צללים */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* כותרת */
h1 {
    color: #ffffff; /* צבע כותרת לבן */
    margin-bottom: 30px;
}

/* שדות טקסט */
.textbox {
    margin-bottom: 20px;
}

.textbox input,
.textbox textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #333; /* גבולות כהים */
    border-radius: 5px; /* פינות מעוגלות */
    background: #333; /* צבע רקע כהה לשדות */
    color: #e0e0e0; /* צבע טקסט בהיר בשדות */
    font-size: 16px;
}

.textbox textarea {
    resize: vertical; /* אפשרות לשנות גובה */
    min-height: 100px; /* גובה מינימלי */
}

/* תיבת סימון */
.checkbox {
    margin-bottom: 20px;
    color: #e0e0e0; /* צבע טקסט בהיר */
}

.checkbox input {
    margin-right: 10px;
}

/* כפתור */
button {
    background-color: #5f1212; /* צבע רקע הכפתור */
    color: #ffffff; /* צבע טקסט הכפתור */
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a3463f; /* צבע רקע כפתור כשהעכבר מעליו */
}

/* שדות נוספים */
.additional-fields {
    display: none;
    margin-top: 20px;
}

.additional-fields.show {
    display: block;
}

/* שדות קובץ */
.additional-fields input[type="file"] {
    border: 1px solid #333; /* גבולות כהים */
    background: #333; /* צבע רקע כהה */
    padding: 10px;
    border-radius: 5px;
    color: #e0e0e0;
}

/* תיקון גובה */
footer {
    padding: 20px;
    text-align: center;
}
.error {
    color: red;
    font-size: 0.9em;
}
.valid {
    color: green;
    font-size: 0.9em;
}
input:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
.password-container {
    position: relative;
    width: max-content;
}

.password-container input {
    padding-right: 30px; /* מקום עבור האייקון */
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}